/.vs
/bin
/ALLanguage*
/obj
/packages/System.Composition.AttributedModel.5.0.1/lib
/Resources/Microsoft.Dynamics.Nav.CodeAnalysis.Workspaces.dll
/Resources/Microsoft.Dynamics.Nav.CodeAnalysis.dll
/Resources/Microsoft.Dynamics.Nav.Analyzers.Common.dll
/Resources/Microsoft.CodeAnalysis.dll
/packages/System.Composition.AttributedModel.5.0.1
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/LoadALLanguage.ps1